.App {
  text-align: center;
}

.containerDiv {
  margin: 20px ;
  height: 200px;
  border-radius: 5px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
